# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [20]:
# Load cities dataframe 
csv_path = '../output_data/cities.csv'
cities_df = pd.read_csv(csv_path)

# (Formatting) Convert temp. column to farenheit 
temp_col = cities_df['Max Temp']
cities_df['Max Temp (F)'] = (temp_col - 273.15) * 9/5 + 32

# Display 
cities_df

,Unnamed: 0,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Max Temp (F)
0,0,Illoqqortoormiut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Bambous Virieux,-20.3428,57.7575,302.04,65.0,40.0,5.14,MU,1.612499e+09,84.002
2,2,Chifeng,42.2683,118.9636,273.58,89.0,47.0,4.93,CN,1.612499e+09,32.774
3,3,Busselton,-33.6500,115.3333,297.04,42.0,1.0,1.34,AU,1.612499e+09,75.002
4,4,Nikolskoye,59.7035,30.7861,258.71,85.0,20.0,4.00,RU,1.612499e+09,6.008
...,...,...,...,...,...,...,...,...,...,...,...
623,623,Concordia,-31.3930,-58.0209,292.04,83.0,0.0,1.60,AR,1.612499e+09,66.002
624,624,Kissamos,35.4939,23.6569,285.15,94.0,20.0,3.09,GR,1.612499e+09,53.600
625,625,Jinchengjiang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626,626,Babstovo,48.1167,132.4833,254.70,85.0,90.0,2.46,RU,1.612499e+09,-1.210
627,627,Traiguen,-38.2500,-72.6833,290.88,57.0,0.0,0.24,CL,1.612499e+09,63.914

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
# Drop null values 
cities_df = cities_df.dropna()

# Store location and humidity data 
lat_lng = cities_df[["Lat", "Long"]].astype(float)
humidities = cities_df['Humidity'].astype(float)

In [ ]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

# Create heatmap 
gmap_fig = gmaps.figure()
gmap_heat = gmaps.heatmap_layer(lat_lng, weights=humidities, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

gmap_fig.add_layer(heat_layer)

gmap_fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [35]:
# Select rows that fit criteria: Humidity between 30-50%, Max. Temp > 70F, Cloudiness > 50%
criteria_df = cities_df.loc[(cities_df['Humidity'] > 30) & (cities_df['Humidity'] < 50) 
                            & (cities_df['Max Temp (F)'] > 70) & (cities_df['Cloudiness'] > 50)]
# Clean dataframe 
criteria_df = criteria_df[['City', 'Lat', 'Long', 'Max Temp (F)', 'Humidity', 'Cloudiness', 'Wind Speed', 'Country']].reset_index(drop=True)
criteria_df

,City,Lat,Long,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country
0,Mataura,-46.1927,168.8643,75.434,39.0,81.0,0.82,NZ
1,Nishihara,26.1842,127.7558,73.400,37.0,75.0,4.63,JP
2,Te Anau,-45.4167,167.7167,74.588,44.0,70.0,1.16,NZ
3,Mount Gambier,-37.8333,140.7667,73.400,38.0,75.0,7.72,AU
4,Chuncheng,22.1731,111.7886,78.008,47.0,75.0,1.42,CN
5,Ratnagiri,16.9833,73.3000,81.626,38.0,92.0,2.14,IN

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [42]:
criteria_df['Hotel Name'] = ""

#url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"rankby": "distance","type": "hotel", "key": gkey}

# Loop through rows and get information 
for i, row in criteria_df.iterrows():
    lat = row['Lat']
    lng = row['Long']
    
    # add location input 
    params['location'] = lat,lng

    # assemble url and make API request
    response = requests.get(url, params=params).json()
    
    # get results
    results = response['results']
    
    # add result to column
    #criteria_df['Hotel Name'] = results['key']

{'rankby': 'distance', 'type': 'hotel', 'location': (-46.1927, 168.8643)}
{'rankby': 'distance', 'type': 'hotel', 'location': (26.1842, 127.7558)}
{'rankby': 'distance', 'type': 'hotel', 'location': (-45.4167, 167.7167)}
{'rankby': 'distance', 'type': 'hotel', 'location': (-37.8333, 140.7667)}
{'rankby': 'distance', 'type': 'hotel', 'location': (22.1731, 111.7886)}
{'rankby': 'distance', 'type': 'hotel', 'location': (16.9833, 73.3)}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure